apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-08
  labels:
    app: node-08
spec:
  replicas: 2
  selector:
    matchLabels:
      app: node-08
  template:
    metadata:
      labels:
        app: node-08
    spec:
      containers:
      - name: node-08
        image: chandana2025/nodeapp:v1
        ports:
        - containerPort: 3000  # Replace with the port your app is running on
        env:
        - name: NODE_ENV
          value: "production"
        resources:
          requests:
            memory: "256Mi"
            cpu: "500m"
          limits:
            memory: "512Mi"
            cpu: "1"
